.hand-cont{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
  background: linear-gradient(0deg, #ffffff 0%, rgb(255 255 255 / 54%) 66%, rgba(0,0,0,0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}