//only the cards inside the board are 10%
.Board{
  .Card{
    width: 10%;
  }
}

.Card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4px;
  cursor: pointer;
  transition: .25s;
  background: white;

  &:hover{
    transform: scale(1.1);
  }

  .inner{
    border: 2px solid black;
    border-radius: 11px;
    padding: 12px 26px;

    h4{
      font-family: Cardova, serif;
      font-size: 28px;
      margin: 0;
    }
  }

  img{
    width: 33px
  }
}